body {
  background-color: #D6DBDE;
  font-family: 'Exo 2', sans-serif;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  width: 700px;
  min-height: 500px;
  background-color: #04BBD1;
  border-radius: 10px;
}

.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30%;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-radius: 10px 0 0 10px;
}

.title {
  text-align: center;
}

.photo-fibonacci {
  width: 80%;
  height: auto;
  border: 3px solid black;
  border-radius: 50%
}

.content {
  width: 70%;
  padding: 35px;
  font-size: 18px;
  color: #ffffff;
}

.form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.field {
  padding: 8px 10px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #04BBD1;
  border: none;
  border-bottom: 2px solid #F2C478;
}

.field:focus {
  outline: none;
}

.submit {
  margin-top: 20px;
  padding: 8px 55px;
  background-color: #F2C478;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  border:none;
  border-radius: 15px;
}

.result-red {
  display: inline-block;
  border-bottom: 2px solid #FD7070;
}

.result-green {
  display: inline-block;
  border-bottom: 2px solid #0be881;
}